<div class="wrapper">
    
  <form #formData = "ngForm" method="post" (submit) = "login()">
      <label>Your Name:
      <input
          type="text"
          name="name"
          placeholder = "Enter name here"
          [(ngModel)] = "user.name"
          #name = "ngModel"
          required>
      </label><br>
      <button
          type="submit"
          name="submit"
          [disabled] = "formData.invalid">Submit</button>
  </form>
  <span *ngIf = "name.invalid">Name is requiered.</span>
</div>
